$menu-prefix-cls: $css-prefix + 'menu';

.#{$menu-prefix-cls} {
  list-style: none;
  padding: 10px;
  margin: 0;
  font-size: $font-size-base;
  color: $text-color;
  position: relative;
  &-item,
  &-submenu-title {
  	@include menu-container;
    padding: 0 $padding-md;
    border-radius: $border-radius-small;
  }
  &-submenu {
    &-title {
      & > i {
        float: right;
        line-height: 30px;
        transition: transform $transition-time ease-in-out;
      }
    }
    .#{$menu-prefix-cls}-submenu-item {
      list-style: none;
      margin-left: $padding-md;
    }
  }
  &-item-group {
    &-title {
      @include menu-container;
      padding: 0 $padding-sm;
      color: $text-color-secondary;
    }
    & > ul {
      padding: 0;
      list-style: none;
    }
  }
  &-light {
    .#{$menu-prefix-cls}-item,
    .#{$menu-prefix-cls}-submenu-title {
      &-active, &:hover {
        background-color: $background-color-base;
      }
      &-active {
        color: $primary-color;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background: $background-color-base;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
  &-dark {
    color: $menu-dark-color;
    background: $menu-dark-bg;
    .#{$menu-prefix-cls}-item,
    .#{$menu-prefix-cls}-submenu-title {
      &-active, &:hover {
        background-color: $menu-dark-active-bg;
      }
      &-active {
        color: lighten($primary-color, 20%);
      }
    }    
  }
  &-opened > * > &-submenu-title-icon {
    transform: rotate(180deg);
  }
}
