$menu-prefix-cls: $css-prefix + 'tabs';

.#{$menu-prefix-cls} {
	&-nav {
		position: relative;
		float: left; // 子元素被遮盖时使长度超出父元素
		transition: transform $transition-time-slow ease-in-out;
		&-container {
			position: relative;
		}
		&-scroll {
			white-space: nowrap; // 使子元素显示在一行且长度超出父元素
			color: $text-color;
			margin-bottom: $margin-sm;
      overflow: hidden;
      &-abled {
        padding: 0 $padding-md;
      }
    }
	}
	&-tab {
		display: inline-block;
		padding: $padding-xs $padding-sm;
		margin-right: $padding-sm;
		&-active,
		&:hover {
      color: $primary-color;
    }
    &-disabled {
      pointer-events: none;
      cursor: default;
      color: $disable-color;
    }
		&-ink {
   		height: $tabs-ink-boder-height;
      box-sizing: border-box;
      background-color: $primary-color;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      &-animated {
        transition: transform $transition-time ease-in-out;
      }
		}
		&-prev {
      @include tabs-icon;
   		left: 0;
   	}
    &-next {
      @include tabs-icon;
      right: 0;
    }
  }
  &-content {
    white-space: nowrap; 
    &-animated {
      transition: transform $transition-time ease-in-out;
    }
    &-container {
      overflow: hidden;
    }
  }
  &-tabpane {
    display: inline-block;
    width: 100%;
  }
}
