@import "color.scss";

// prefix
$css-prefix: 'wvi-';

// color
$primary-color: $purple;
$link-color: $blue;
$link-hover-color: darken($link-color, 10%);
$link-active-color: lighten($link-color, 10%);
$disable-color: $grey;

// base
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$text-color: $black;
$text-color-secondary: $grey;
$font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$line-height-base: 1.5;
$body-background: #fff;
$code-family: Consolas,Menlo,Courier,monospace;

// border
$border-color-base: $gray;
$border-width-base: 1px;
$border-style-base: solid; 
$border-radius-small: 4px;
$border-radius-base: 6px;
$tabs-ink-boder-height: 2px;

// background
$background-color-base: $ghostWhite;
$menu-dark-color: $gray;
$menu-dark-bg: $black;
$menu-dark-active-bg: $darkGray;

// padding
$padding-xs: 5px; 
$padding-sm: 10px; 
$padding-md: 20px;
$padding-lg: 25px; 

// margin
$margin-xs: 5px; 
$margin-sm: 10px; 
$margin-md: 20px;
$margin-lg: 25px; 

// transition
$transition-time: .3s;
$transition-time-slow: .5s;
$transition-time-quick: .1s;
$animation-time: .3s;



